body {
  margin: 0;
  font-family: Arial;
}

header {
  background: #333;
  color: white;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

section {
  padding: 20px;
}

#lista-projetos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
}

/* Responsivo */
@media (max-width: 600px) {
  #lista-projetos {
    grid-template-columns: 1fr;
  }
}